<h2>Description</h2>
<!-- 
<mat-card class="example-card">
  
    <mat-card-content>
        <ul *ngFor="let key of Users" >
            <li>"Date : "{{key.date}}</li>
            <li>"Holiday Name : "{{key.name}}</li>
            <li>"Holiday type : "{{key.public }}</li>
            </ul>
    </mat-card-content>
  
  
  </mat-card> -->
  
  <mat-card class="example-card">
      <mat-card-header  *ngFor="let key of Users">
       
          <mat-card-title>"Date : "{{key.date}}</mat-card-title>
          <mat-card-title>"Holiday Name : "{{key.name}}</mat-card-title>
          <mat-card-title>"Holiday type : "{{key.public }}</mat-card-title>
       
      </mat-card-header>
         
    </mat-card>
    
  
  <router-outlet></router-outlet>